.header {
  height: 60px;
  display: flex;
  justify-content: space-between;

  .logo {
    .logo__img {
      height: 100%;
    }
  }

  .menu {
    display: flex;
    align-items: center;

    .profile {
      border-radius: 1rem;
      padding: 0.25rem 0.5rem;
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;

      .profile__image {
        height: 35px;
        width: 35px;
        margin-right: 0.625rem;
        background-size: contain;
        background-image: url('../../../../assets/header/profile.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
