<div class="order">
  <div class="order__data">
    <h3 class="order__title">{{ order.title }}</h3>
    <p class="order__description">
      {{ order.description }}
    </p>
    <label class="order__date">
      <div class="order__date-img"></div>
      <span>{{ order.date }}</span>
    </label>
  </div>
  <div class="order__info">
    <span class="order__price">
      {{ order.price | price }}
    </span>
    <div class="order__created-at">
      <div class="order__created-at-img"></div>
      <span>{{ order.createdAt | createdAt }}</span>
    </div>
  </div>
  <div class="order__tags">
    <app-tag *ngFor="let tag of order.tags" [text]="tag"></app-tag>
  </div>
</div>
