@import '/src/styles/colors';
@import '../../utils/mixins.scss';

.order {
  @include order;
  border-radius: 2rem 4.5rem 2rem 2rem;
  padding-bottom: 2.5rem;
  position: relative;

  &.outlined {
    border: 2px solid transparent;
    background: linear-gradient($lightgray 0 0) padding-box, linear-gradient(20deg, $main-color, $lightgray) border-box;  
  }

  .order__data {
    flex-basis: 70%;
    .order__title {
      @include order-title;
    }

    .order__description {
      @include order-description;
    }

    .order__date {
      @include order-date;

      .order__date-img {
        background-image: url("../../assets/calendar.svg");
        @include order-dateImg;
      }
    }
  }

  .order__info {
    @include order-info;

    .order__created-at {
      @include order-createdAt;

      .order__created-at-img {
        background-image: url("../../assets/time.svg");
        @include order-createdAtImg;
      }
    }

    .order__price {
      @include order-price;
    }
  }

  .order__tags {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0 - 1.1rem;

    :not(:last-child) {
      margin-right: 0.8rem;
    }
  }
}
