<section class="container">
    <div class="message">
        <div class="body">
            <img src="" alt="" class="message__img">
            <div class="message__content">
                <h3 class="message__header">Олег Майями</h3>
                <p class="message__text">Здравствуйте! Нужен вебсайт по разработке игр.. можете реализовать? дам 5000р</p>
            </div>
        </div>
        <div class="message__info">
            <p class="message__date">14:14</p>
            <div class="message__counter">9+</div>
        </div>
    </div>
</section>
