@import '/src/styles/colors';
@import '/src/styles/mixins.scss';

.order-link {
  display: inline-block;
  color: inherit;
  margin-bottom: 2.7rem;
  width: 100%;

  &:focus ::ng-deep .order {
    @include yellow-box-shadow();
  }
}
