@import '/src/styles/colors';
@import '/src/styles/mixins.scss';

.container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.order-link {
  display: inline-block;
  width: 100%;

  &:focus ::ng-deep .order {
    @include yellow-box-shadow();
  }
}
