<section class="container">
    <div class="order">
        <div class="order__data">
            <h3 class="order__title">MY TITLE</h3>
            <p class="order__description">
              DESCRiption n n n n n  n n n
            </p>
            <label class="order__date">
              <div class="order__date-img"></div>
              <span>17.04.2002</span>
            </label>
          </div>
          <div class="order__info">
            <span class="order__price">
              555 - 555
            </span>
            <div class="order__created-at">
              <div class="order__created-at-img"></div>
              <span>сейчас</span>
            </div>
          </div> 
    </div>
    <aside class="aside">aside</aside>
</section>