<section class="container" *ngIf="order">
  <div class="order">
    <div class="order__data">
      <h3 class="order__title">{{ order.title }}</h3>
      <p class="order__description">
        {{ order.description }}
      </p>
      <label class="order__date">
        <div class="order__date-img"></div>
        <span>{{ order.date }}</span>
      </label>
    </div>
    <div class="order__info">
      <span class="order__price">
        {{ order.price | price }}
      </span>
      <div class="order__created-at">
        <div class="order__created-at-img"></div>
        <span>{{ order.createdAt | createdAt }}</span>
      </div>
    </div>
  </div>

  <aside class="aside">
    <h2 class="aside__title">
        Заказчик
    </h2>
    <div class="client">
        <img src="" alt="" class="client__img">
        <div class="client__name-and-rating">
            <h3 class="client__name">Никита</h3>
            <div class="rating">
                <div class="rating__img"></div>
                <div class="rating__value">4.3</div>
            </div>
        </div>
    </div>
    <button class="btn bg-main text-dark fw-500">Откликнуться</button>
  </aside>
</section>
