.search {
    background-color: var(--light);
    // TODO width fix later 
    width: 300px;
    height: 3rem;
    border-radius: 19px;
    font-weight: 600;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2.5rem;
    background-size: 1.2rem;
    background-image: url('./img/search-svgrepo-com\ 1.svg');
    background-repeat: no-repeat;
    background-position-y: 51%;
    background-position-x: 0.835rem;
    ::placeholder {
        color: #515151;
    }
}