<div class="message" [ngClass]="{'unread': dialog.newMessagesCount}">
  <div class="body">
    <img src="" alt="" class="message__img" />
    <div class="message__content">
      <h3 class="message__header">{{dialog.senderName}}</h3>
      <p class="message__text">
        {{dialog.lastMessage}}
      </p>
    </div>
  </div>
  <div class="message__info">
    <p class="message__date">{{ dialog.lastMessageDate | lastMessageDate }}</p>
    <div *ngIf="dialog.newMessagesCount" class="message__counter">{{ dialog.newMessagesCount }}</div>
  </div>
</div>
